.venv/
__pycache__/
*.py[cod]
src/program/config/config_tmp.json
src/program/config/program.log
src/program/config/measurement_plan.json
src/program/config/config_used.json
src/program/config/maintenance_state.json
src/program/config/maintenance.log
old/
temporary_data/
